@import "tailwindcss";
  @theme {
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fadeInWait {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }
      50% {
        opacity: 0;
        transform: translateY(-10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    --animate-fadeInWait: fadeInWait 1.5s ease-in-out;
    --animate-fadeIn: fadeIn 0.75s ease-in-out;
  }